*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  background-color: hsl(250, 50%, 80%);
  min-height: 80vh;

  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "editor preview";
}

#editor {
  display: block;
  width: 55ch;
  min-height: 30rem;
  padding: 2em;
  border-radius: 0.5rem;

  background-color: black;
  color: white;

  outline: none;
  border: 1px solid transparent;
  resize: none;

  grid-area: editor;
  justify-content: center;
}

#preview {
  border: 1px solid;
  width: 55ch;
  word-wrap: break-word;
  padding: 2em;

  border-radius: 0.5rem;
  grid-area: preview;
}

img {
  max-width: 100%;
}
